@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');




* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    align-items: center;
    height: 7.125rem;
    border-bottom: 1px solid #a28a8a49;
    box-shadow: 0px 2px 2px 0px rgba(64, 62, 62, 0.193);
}

.logo {
    position: absolute;
    left: 10%;
    top: 2rem;
    bottom: 2.25rem;
}

.navbar__links {
    position: absolute;
    top: 2rem;
    left: 30%;
    gap: 2.5rem;
    text-decoration: none;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}

.navbar__links li {
    display: inline-block;
    margin-right: 2rem;
}

.navbar__links a {
    text-decoration: none;
    color: #000;

}

.btn-procurar {
    cursor: pointer;
    position: absolute;
    min-width: 20.4375rem;
    height: 3rem;
    top: 2rem;
    left: 66%;  
    border: none;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
    box-shadow: 0 3px #8d7e7e5e;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.0625rem;
    color: rgba(28, 1, 1, 0.5)
}

.fa-magnifying-glass {
    position: absolute;
    margin-left: -6.5rem;
    margin-top: -0.300rem;
}

.container__principal {
    position: relative;
    align-items: center;

}


.text {
    position: absolute;
    width: 41%;
    height: 404px;
    left: 10%;
    top: 8rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
}

.btn-conhecer {
    position: relative;
    width: 357px;
    height: 71px;
    top: 2rem;
    background: #1627C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    cursor: pointer;
}

.gif1 img {
    width: 130%;
    height: 100%;
}

.gif1 {
    position: relative;
    left: 51%;
    top: 4rem;
    width: 458px;
    height: 572px;
    z-index: -1;

}

.container__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 8rem;
    height: 100%;
}

.propaganda {
    position: relative;
    width: 185px;
    height: 118px;
    left: 40%;
    top: 3rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    color: #000000;
}

.propaganda span {
    font-weight: 300;
}

.prop1,
.prop2,
.prop3 {
    position: relative;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;

}


.txt1,
.txt2,
.txt3 {
    position: relative;
    max-width: 21ch;
    top: 3rem;

    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    text-align: justify;
}



.line1 {
    position: absolute;
    width: 220px;
    height: 0px;
    left: 37%;
    top: 58rem;
    border: 1px solid #000000;
    transform: rotate(89.74deg);
}



.line2 {
    position: absolute;
    width: 220px;
    height: 0px;
    left: 62%;
    top: 58rem;
    border: 1px solid #000000;
    transform: rotate(89.74deg);
}

.container__aside {
    display: flex;

}

.gif2 {
    position: absolute;
    top: 75rem;
    z-index: -1;
    left: 10%;
    Width: 458px;
    height: 458px;
}

.gif2 img {

    width: 100%;
    height: 100%;
}

.text__aside {
    position: relative;
    width: 733px;
    height: 404px;
    left: 38%;
    top: 15rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    color: #000000;
}

.line3 {
    position: relative;
    width: 100%;
    height: 0px;

    top: 20rem;
    border: 1px solid #000000;
}

.navbar__footer {
    position: relative;
}

.logo__footer {
    position: relative;
    left: 10%;
    top: 22rem;
    bottom: 2.25rem;
}

.logo__footer p {
    position: relative;
    width: 15ch;
    height: 90px;
    top: 3rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.paginas h4 {
    position: relative;
    width: 72px;
    height: 25px;
    left: 35%;
    top: 14rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}

.menu__footer {
    position: relative;
    width: 206px;
    height: 193px;
    left: 40%;
    top: 16rem;
}

.menu__footer li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 4rem;
    margin-right: 2rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;

    color: #000000;
}

.menu__footer a {
    text-decoration: none;
    color: #000;
}

.sobre h4 {
    position: relative;
    width: 91px;
    height: 25px;
    left: 65%;
    top: 0rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}

.sobre p {
    position: relative;
    width: 20ch;
    height: 100px;
    left: 67%;
    top: 3rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}