@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');




* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    align-items: center;
    height: 114px;
    border-bottom: 1px solid #a28a8a49;
    box-shadow: 0px 2px 2px 0px rgba(64, 62, 62, 0.193);
  }
  
  .logo {
    margin-left: 10%;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .menu-principal {
    display: flex;
    gap: 2.5rem;
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
  }
  
  .menu-principal li a {
    text-decoration: none;
    color: #000;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
  }
  
  .search {
    position: relative;
    margin-left: auto;
    margin-right: 50px;
  }
  
  .search input[type="text"] {
    width: 400px;
    text-align: center;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.8);
    box-shadow: 0 3px #8d7e7e5e;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.0625rem;
    color: rgba(28, 1, 1, 0.5);
  }
  
  .search button[type="submit"] {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
  }
  
  .fa-search {
    color: #000;
    font-size: 20px;
    
  }
  

.container__principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: relative;
    width: 45%;
    max-height: 404px;
    margin-top: 5rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}

.btn-conhecer {
    width: 357px;
    height: 71px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #1627C8;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.gif1 {
    position: relative;
    width: 100%;
    max-width: 458px;
    height: auto;
    margin-top: 4rem;
    z-index: -1;
}

.gif1 img {
    width: 100%;
    height: auto;
}

.container__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 8rem;
    gap: 3rem;
    
}
.line1, .line2{
    border-right: 1px solid;
    margin-right: 6rem;
}
.line3{
    border-right: 0px solid;
    margin-right: 6rem;
}
.propaganda {
    display: inline-block;
    position: relative;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    color: #000000;
    margin: 0 auto 3rem;
    top: 3rem;
    max-width: 3ch;
}

.propaganda span {
    font-weight: 300;
}

.prop1,
.prop2,
.prop3 {
    position: relative;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 1rem;
   
   
}
.txt1,
.txt2,
.txt3 {
    position: relative;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-right: 13ch;
    line-height: 21px;
    color: #000000;
      
}


.container__aside {
    display: flex;
}

.gif2 {
    position: relative;
    top: 0;
    z-index: -1;
    left: 15%;
    width: 100%;
    max-width: 458px;
    padding-bottom: 34%;
}

.gif2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
.text__aside {
    position: relative;
    width: 733px;
    max-width: 100%;
    height: 404px;
    left: 40%;
    transform: translateX(-50%);
    top: 10rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    color: #000000;
}


.navbar__footer {
    display: flex;
    position: relative;
    border-bottom: 2px solid #000;
    
}

.logo__footer {
    position: absolute;
    left: 10%;
    top: 3rem;
    bottom: 2.25rem;
}

.logo__footer p {
    width: 15ch;
    height: 90px;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.paginas h4 {
    position: absolute;
    width: 72px;
    height: 25px;
    left: 35%;
    top: 3rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}

.menu__footer {
    position: absolute;
    width: 206px;
    height: 193px;
    left: 40%;
    top: 6rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 4rem;
}

.menu__footer li {
    margin-right: 2rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
    display: inline-block
}

.menu__footer a {
    text-decoration: none;
    color: #000;
}

.sobre h4 {
    position: absolute;
    width: 91px;
    height: 25px;
    left: 65%;
    top: 3rem;;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
}

.sobre p {
    position: absolute;
    width: 20ch;
    height: 100px;
    left: 67%;
    top: 6rem;
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}